.about-header_wrapper{
    background-image: linear-gradient(rgba(0, 0, 0, 0.603) 100%, #ffffff 5%) ,url('./About.png')  ;
    background-repeat: no-repeat; 
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 22rem;
    overflow: hidden;
  }
  @media (max-width: 767px) { 
    .about-header_wrapper{
      background-position: top center;
      height: 18rem;
     
    }
  }