.services-header_wrapper{
    background-image: linear-gradient(rgba(0, 0, 0, 0.614) 100%, #ffffff 5%) ,url('./home-service.png')  ;
    background-repeat: no-repeat; 
    width: 100%;
    background-size: cover;
    background-position: top center;
    height: 22rem;
    overflow: hidden;
}
@media (max-width: 767px) { 
    .services-header_wrapper{
      background-position: top center;
      height: 18rem;
     
    }
  }